In [1]:
import pandas as pd
df = pd.read_excel('Worksheet in Case Study question 2.xlsx')
df.head()

   months_as_customer  age  policy_number policy_bind_date  ...  auto_make auto_model  auto_year  fraud_reported
0                 328   48         521585       2014-10-17  ...       Saab        92x       2004               Y
1                 228   42         342868       2006-06-27  ...   Mercedes       E400       2007               Y
2                 134   29         687698       2000-09-06  ...      Dodge        RAM       2007               N
3                 256   41         227811       1990-05-25  ...  Chevrolet      Tahoe       2014               Y
4                 228   44         367455       2014-06-06  ...     Accura        RSX       2009               N

[5 rows x 39 columns]

In [2]:
df.shape

(1000, 39)

In [3]:
df.isnull().sum()

months_as_customer              0
age                             0
policy_number                   0
policy_bind_date                0
policy_state                    0
policy_csl                      0
policy_deductable               0
policy_annual_premium           0
umbrella_limit                  0
insured_zip                     0
insured_sex                     0
insured_education_level         0
insured_occupation              0
insured_hobbies                 0
insured_relationship            0
capital-gains                   0
capital-loss                    0
incident_date                   0
incident_type                   0
collision_type                  0
incident_severity               0
authorities_contacted          91
incident_state                  0
incident_city                   0
incident_location               0
incident_hour_of_the_day        0
number_of_vehicles_involved     0
property_damage                 0
bodily_injuries                 0
witnesses                       0
police_report_available         0
total_claim_amount              0
injury_claim                    0
property_claim                  0
vehicle_claim                   0
auto_make                       0
auto_model                      0
auto_year                       0
fraud_reported                  0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [6]:
df.describe().T

                              count                           mean  ...                  max             std
months_as_customer           1000.0                        203.954  ...                479.0      115.113174
age                          1000.0                         38.948  ...                 64.0        9.140287
policy_number                1000.0                     546238.648  ...             999435.0   257063.005276
policy_bind_date               1000  2002-02-08 04:40:47.999999872  ...  2015-02-22 00:00:00             NaN
policy_deductable            1000.0                         1136.0  ...               2000.0      611.864673
policy_annual_premium        1000.0                     1256.40615  ...              2047.59      244.167395
umbrella_limit               1000.0                      1101000.0  ...           10000000.0  2297406.598118
insured_zip                  1000.0                     501214.488  ...             620962.0    71701.610941
capital-gains                1000.0                        25126.1  ...             100500.0    27872.187708
capital-loss                 1000.0                       -26793.7  ...                  0.0    28104.096686
incident_date                  1000            2015-01-30 08:02:24  ...  2015-03-01 00:00:00             NaN
incident_hour_of_the_day     1000.0                         11.644  ...                 23.0        6.951373
number_of_vehicles_involved  1000.0                          1.839  ...                  4.0         1.01888
bodily_injuries              1000.0                          0.992  ...                  2.0        0.820127
witnesses                    1000.0                          1.487  ...                  3.0        1.111335
total_claim_amount           1000.0                       52761.94  ...             114920.0     26401.53319
injury_claim                 1000.0                        7433.42  ...              21450.0     4880.951853
property_claim               1000.0                        7399.57  ...              23670.0     4824.726179
vehicle_claim                1000.0                       37928.95  ...              79560.0    18886.252893
auto_year                    1000.0                       2005.103  ...               2015.0        6.015861

[20 rows x 8 columns]

In [7]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported'],
      dtype='object')

In [8]:
df['auto_make'].nunique()

14

In [9]:
df['auto_make'].unique()

array(['Saab', 'Mercedes', 'Dodge', 'Chevrolet', 'Accura', 'Nissan',
       'Audi', 'Toyota', 'Ford', 'Suburu', 'BMW', 'Jeep', 'Honda',
       'Volkswagen'], dtype=object)

In [10]:
df['auto_model'].unique()

array(['92x', 'E400', 'RAM', 'Tahoe', 'RSX', 95, 'Pathfinder', 'A5',
       'Camry', 'F150', 'A3', 'Highlander', 'Neon', 'MDX', 'Maxima',
       'Legacy', 'TL', 'Impreza', 'Forrestor', 'Escape', 'Corolla',
       '3 Series', 'C300', 'Wrangler', 'M5', 'X5', 'Civic', 'Passat',
       'Silverado', 'CRV', 93, 'Accord', 'X6', 'Malibu', 'Fusion',
       'Jetta', 'ML350', 'Ultima', 'Grand Cherokee'], dtype=object)

In [11]:
df['fraud_reported'].value_counts()

fraud_reported
N    753
Y    247
Name: count, dtype: int64

In [12]:
df['police_report_available'].value_counts()

police_report_available
?      343
NO     343
YES    314
Name: count, dtype: int64

In [13]:
df['incident_type'].value_counts()

incident_type
Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: count, dtype: int64

In [14]:
df['insured_hobbies'].value_counts()

insured_hobbies
reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
golf              55
camping           55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: count, dtype: int64

In [15]:
df['insured_sex'].value_counts()

insured_sex
FEMALE    537
MALE      463
Name: count, dtype: int64

In [16]:
df['age'].unique()

array([48, 42, 29, 41, 44, 39, 34, 37, 33, 61, 23, 38, 58, 26, 31, 62, 55,
       40, 35, 43, 45, 25, 30, 28, 49, 54, 47, 59, 27, 56, 32, 36, 64, 60,
       51, 46, 50, 57, 53, 24, 52, 19, 21, 63, 20, 22], dtype=int64)

In [37]:
df[df['age'] > 63]

     months_as_customer  age  policy_number policy_bind_date  ... auto_make auto_model  auto_year  fraud_reported
67                  478   64         346002       1990-08-20  ...       BMW         X6       1998               N
588                 472   64         911429       2012-08-25  ...  Mercedes      ML350       2002               N

[2 rows x 39 columns]

In [38]:
df['fraud_reported'].value_counts()

fraud_reported
N    753
Y    247
Name: count, dtype: int64